* {
    margin: 0;
    padding: 0;
    text-align: center;
}

#header {
    background-color: whitesmoke;
    width: 80vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.new-book-btn {
    padding: 14px;
    border-radius: 20px;
    transition: 0.3s;
}

.new-book-btn:hover {
    background-color: rgb(214, 214, 214);
}