* {
    margin: 0;
    padding: 0;
    text-align: center;
}

#header {
    background-color: whitesmoke;
    width: 80vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.new-book-btn {
    padding: 14px;
    border-radius: 20px;
    transition: 0.3s;
}

.new-book-btn:hover {
    background-color: rgb(214, 214, 214);
}

footer {
    background-color: whitesmoke;
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  footer p {
    display: inline-block;
    margin: 0;
  }
  
  footer img {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
    width: 35px;
  }
  
  @media (max-width: 768px) {
    footer {
      display: none;
    }
  }